@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Utility Section */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}



/* Header Section */
header{
    background: url(./img/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
}

#nav-bar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #2b2d32;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#nav-bar h1{
    color: white;
    padding: 0.5rem;
}

#nav-bar span{
    color: #89b700;
}

#nav-bar i{
    color: #89b700;
    margin-right: 0.4rem;
}

#nav-bar ul{
    display: flex;
    list-style: none;
    padding: 0.5rem 2rem;
}

#nav-bar a{
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    color: white;
    border-radius: 0.4rem;
    font-weight: bold;
}

#nav-bar a:hover{
    background-color: #89b700;
    color: black;
}




/* Landing Page Section */
#landing-section{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.text{
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
    position: absolute;
    
}

.text a{
    text-decoration: none;
    color: white;
    padding: 0.5rem 2rem;
    background-color: #89b700;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.4rem;
}

.text a:hover{
    background-color:#6b8e00;
}




/* What Section */
#what-section h1{
    text-align: center;
    padding: 1rem;
}

#what-section span{
 color: #89b700;
}

.content{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.box{
    display: flex;
    align-items: center;
    flex-basis: 20rem;
    padding: 1rem;
    margin: 1rem;
    text-align: justify;
}

.box i{
    background-color: #89b700;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 1rem;
}





/*  Who Section */
#who-section{
    display: flex;
    /* height: 70vh; */
    /* width: 100vw; */
    /* justify-content: center; */
    /* height: 23rem; */
    flex-wrap: wrap;
}

#who-section div{
    flex: 1;
}

#who-section span{
    color: #89b700;
}

.group-pic{
    background: url(./img/people.jpg) no-repeat center center/cover;
}

.description{
    padding: 1rem;
    background: #2b2d32;
    color: white;
}

.description h1{
    margin-bottom: 1rem;
}

.description p{
    margin-bottom: 1rem;
}

.description h3{
    margin-bottom: 1rem;
}

.description ul li{
    list-style: none;
    margin-bottom: 1rem;
}


/* Our Clients Section */
#clients{
    padding: 2rem 0;
    margin-bottom: 2rem;
}

#clients h1{
    text-align: center;
    margin-bottom: 1rem;
}

#clients span{
    color: #89b700;
}

.logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.logo img{
    width: 10rem;
    padding: 1rem;
}




/* Contact Section */
#contact-section{
    display: flex;
    flex-wrap: wrap;
}

.contact-us{
    flex: 1;
    background-color: #89b700;
    color: white;
    padding: 2rem 1rem;
}

.contact-us h1, .contact-us p{
    text-align: center;
    line-height: 2rem;
}
#map{
    flex: 2;
}

form div{
    margin: 1rem 0;
}

form input{
    width: 100%;
    height: 2rem;
    margin-top: 0.3rem;
    border: 1px solid white;
    border-radius: 0.2rem;
    padding: 1rem;
}

form textarea{
    width: 100%;
    height: 2rem;
    margin-top: 0.3rem;
    border: 1px solid white;
    border-radius: 0.2rem;
}

.btn{
    width: 100%;
    background: #2b2d32;
    color: white;
    border: none;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.btn:hover{
    background: #111113;
    cursor: pointer;
}






/* Footer Section */
footer{
    background: #2b2d32;
    color: white;
    padding: 1rem;
    text-align: center;
}





/* Media Queries */
@media(max-width:500px){

    #nav-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #who-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 1000px;
    }

    #contact-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 1000px;
    }
}